---
template: page
title: "Roman Piták - Home Page"
url: ""
---
div.
    
    <div class="intro">
    <div><span class="keyword">&lt;&quest;php</span></div>

    <div>&nbsp;</div>

    <div><span class="keyword">namespace</span> Pit&aacute;k&#92;Roman&semi;</div>

    <div>&nbsp;</div>

    <div><span class="keyword">use</span> <a href="/blog" >Blog</a>, <a
        href="/about" >About</a>&semi;
    </div>

    <div>&nbsp;</div>

    <div><span
        class="keyword">class</span>&nbsp;Me&nbsp;<span class="keyword">extends</span>&nbsp;Programmer&nbsp;<span
        class="keyword"></div>

    <div>&#123;</div>

    <div class="ind1"><span class="comment">&sol;&ast;&ast;&nbsp;&#64;var&nbsp;string&nbsp;&ast;&sol;</span></div>

    <div class="ind1"><span class="keyword">protected</span> <span class="variable">$email</span> = <span class="string">&apos;<a
        href="mailto:roman@pitak.net">roman&#64;pitak&#46;net</a>&apos;</span>&semi;</div>

    <div>&nbsp;</div>

    <div class="ind1"><span class="comment">&sol;&ast;&ast;</span></div>

    <div class="ind1"><span class="comment"><span class="comment">&nbsp;&ast; Opens a new browser tab with <a
        href="https://github.com/romanpitak" target="_blank">my GitHub profile</a>.</span></span></div>

    <div class="ind1"><span class="comment">&nbsp;&ast;&sol;</span></div>

    <div class="ind1"><span class="keyword">public</span> <span class="keyword">function</span> <span class="function"><a
        href="https://github.com/romanpitak" target="_blank">redirectToGitHub</a></span>&lpar;&rpar;</div>

    <div class="ind1">&#123;</div>

    <div class="ind2"><span class="variable">$this</span>-&gt;<span class="function">redirect</span>&lpar;<span
        class="string">&apos;<a href="https://github.com/romanpitak" target="_blank">https&colon;&sol;&sol;github.com&sol;romanpitak</a>&apos;</span>&rpar;&semi;
    </div>

    <div class="ind1">&#125;</div>

    </div>
